DB_HOST=dev
DB_NAME=dev
DB_USER=dev
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_me
SALT_CHARSET="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/\\][{}'\";:?.>,<!@#$%^&*()-_=+|"
SHOW_ERRORS=true
XDEBUG_MODE=debug,develop
